<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftBaru.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BDF8B0D824CA63540017ADBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BDF8B0EE24CA63570017ADBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BDF8B0F924CA63570017ADBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
